.App {
  background-color: #969aa1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  font-family: 'Roboto', serif;
  justify-content: 'center'
}

.header {
  text-align: center;
  display: flex;
  
}

.page-nav {
  color: inherit;
  text-decoration: none;
}

.nav-links {
  position: absolute;
  right: 0;
}

#sceneContainer {
  height: 100vh;
  width: 100vw;
  background: rgb(0,0,0);
}

.description {
  text-align: justify-center;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30%;
}